@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');

* {
	box-sizing: border-box;
	font-family: 'Irish Grover';
	text-align: center;
}

h1 {
	font-size: 3rem;
	font-style: italic;
	color: rgb(22, 219, 22);
	margin: 20px auto;
	text-align: center;
	font-family: 'Irish Grover';
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}